extends ../layout

block content
  // Main jumbotron
  .jumbotron.bicycle-polo-background
    .container.bicycle-polo-text
      h1.text-center
        strong Birchwood Bicycle Polo Co.
      p
        | We sell only the finest bicycle polo supplies for those seeking fame and glory in this 
        a(href="https://www.youtube.com/watch?v=DaK9Zj3QHDY", target="_blank") sport of kings
        | .
      h3
        strong Having trouble with one of our products?
      p
        | Talk to one of our support agents now &#8212; or fill out the support form below and someone will call you later.
        
  .container
    if(success.length > 0)
      .alert.alert-success !{success}
    if (errors.length > 0)
      .alert.alert-danger !{errors}
    h2#support Contact support
    p Office number: 07480803877

    .row
      .col-md-6.col-md-pull-6
        form(class="new-ticket")
          .form-group
            label Phone Number:
            input.form-control(type='text', name="phone_number", placeholder='+16887665773')
          button.btn.btn-primary.btn-lg.btn-block(type='button') Submit ticket
          button.btn.btn-lg.btn-danger.hangup-button(disabled="", onclick="hangUp()") Hang up
    .row
      .col-md-6.col-md-pull-6
        form(class="new-sms")
          .form-group
            label Number:
            input.form-control(type='text', name="number", placeholder='+447777777777')
          .form-group
            label Body:
            input.form-control(type='text', name="body", value='Hey, it\'s Simon from Perched. Just tried calling, give me a ring when you have a moment.')
          button.btn.btn-primary.btn-lg.btn-block(type='button') Send SMS
